<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.5em; }</style>
    <title>Assignment 1 - Single Page Web Applications with AngularJS</title>
  </head>
  <body ng-app='myFirstAngularApp'>
    <div ng-controller='myFirstAngularController'>
      <input ng-model="lunchList">
      <button ng-click="isTooMuch();">Check If Too Much</button>
      <br/><br/>
      <span>{{tooMuchMsg}}<span>
    </div>
  </body>
</html>
